.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.addbillmain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addbillform{
  display: flex;
  flex-direction: column;
  width: 50vw;
  border: solid;
  margin: 5rem;
  padding: 2rem;
  gap:0.5rem;
}

.signinform, .signupform{
  display: flex;
  flex-direction: column;
  border: solid;
  width: 19rem;
  gap: 1.5rem;
  padding: 2rem;
}

.signinmain, .signupmain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.profilediv{
  display: flex;  
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

